#logo {
    font-size: 40px;
    color: #4A4A4A;
}

.banner::before {
    content: "";
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
}
.quote i{
    font-size: 50px;
    color: #d2d2d2;
    width: 55px;
    height: 45px;
}
.icons {
    color: goldenrod;
}
.testimonial img {
    width: 65px;
    height: 65px;
}
.social-icon i{
    padding: 10px;
    font-size: 25px;
    color: #fff;
}