#logo {
    font-size: 40px;
    color: #4A4A4A;
}

.carousel-item:nth-child(1) {
    background: rgba(29, 29, 29, 0.7);
}
.quote i{
    font-size: 50px;
    color: #d2d2d2;
    width: 55px;
    height: 45px;
}
.icons {
    color: goldenrod;
}
.testimonial img {
    width: 65px;
    height: 65px;
}
.social-icon i{
    padding: 10px;
    font-size: 25px;
    color: #fff;
}